@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --add-btn-dark: hsl(300, 56%, 52%);
    --add-btn-light: hsl(193, 99%, 40%);
    --table-cell: hsl(0, 0%, 85%);
}

.dark{
    background-color: hsl(0, 0%, 15%);   
    color: #fff;
}

.dark th{
    color: #000;
}

.light{
    background-color: #fff;
    color: #000;
}

.light #themeChange{
    filter: invert(1);
}

.light #submit-book{
    background-color: var(--add-btn-light);
    border-color: var(--add-btn-light);
}

.light input[type="checkbox"]{
    accent-color: var(--add-btn-light);
}

body{
    margin: 4rem auto;
    width: 50%;
    font-family: 'Raleway', sans-serif;

    background-color: hsl(0, 0%, 15%);   
    color: #fff;
}

header{
    display: flex;
    justify-content: space-between;
}

h1{
    font-weight: 100;
}

#themeChange{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

main{
    padding: 5rem 0;
    height: 600px;
}

form{
    display: flex;
    justify-content: space-between;
}

input[type=text]{
    height: 25px;
    width: 200px;
}

input{
    border: 1px solid rgb(133, 133, 133);
    border-radius: 3px;
    padding-left: 4px;
}

input[type=text]:hover,
input[type=checkbox]:hover,
input:focus,
input:active{
    border: 1px solid var(--add-btn-dark);
    outline: 1px solid transparent;
}

.checkbox-label{
    margin-left: 5px;
}

input[type="checkbox"]{
    accent-color: var(--add-btn-dark);
}

.fas,
.far,
input[type=checkbox],  
.submit-book{
    cursor: pointer;
}

.submit-book{
    background-color: var(--add-btn-dark);
    color: #fff;
    padding: 0 30px;
    border: 1px solid var(--add-btn-dark);
    border-radius: 50px;
}

.icon{
    height: 18px;
    width: 18px;
}

.icon:hover{
    cursor: pointer;
}

.delete-icon{
    background-image: url(./assets/delete.svg);
    filter: invert(72%) sepia(63%) saturate(3689%) hue-rotate(353deg) brightness(96%) contrast(100%);
}

.times-icon{
    background-image: url(./assets/no.svg);
    filter: invert(72%) sepia(63%) saturate(3689%) hue-rotate(200deg) brightness(96%) contrast(100%);
}

.check-icon{
    background-image: url(./assets/yes.svg);
    filter: invert(72%) sepia(63%) saturate(3689%) hue-rotate(100deg) brightness(96%) contrast(100%);
}

.book-table-container{
    overflow-y: auto;
    height: 400px;
    margin-top: 3rem;
}

table{
    border-collapse: collapse;
    width: 100%;
}

thead th{
    position: sticky;
    top: 0;
    color: #000;
}

th,
td{
    text-align: center;
    border-bottom: 1px solid var(--table-cell);
}

th{
    font-weight: 100;
    background-color: var(--table-cell);
}

.table-title{
    padding: 10px 9rem;
}

.table-author{
    padding: 10px 5rem;
}

.table-control{
    padding: 10px 2rem;
}

footer{
    margin-top: 4rem;
    text-align: center;
}

footer a{
    color: inherit;
    text-decoration: none;
    transition: all 200ms ease;
}

footer a:hover{
    color: #f52e14;
}

@media screen and (max-width: 950px) {
    body {
      margin: 1em;
      width: 90%;
      overflow-x: hidden;
    }

    form{
        flex-direction: column;
    }

    form label{
        margin: 10px;
    }

    input[type=text]{
        height: 35px;
        width: 100%;
    }

    .submit-book{
        width: 35%;
        padding: 0.5em 1em;
        margin-left: 10px;
    }
}