@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    margin: 7rem auto;
    height: 100%;
    width: 50%;
}

h1{
    margin: 0;
    padding: 0;
}

h2{
    margin: 0;
    padding: 0;
}   

form{
    display: flex;
    justify-content: space-between;
}

.book-table-container{
    width: 100%;
}

th{
    padding: 12px 15px;
}

.headings{
    display: flex;
    justify-content: space-between;
    background-color: darkslategray;
}

footer{
    position: absolute;
    bottom: 20px;
}

footer a{
    text-decoration: none;
    transition: all 250ms ease;
}

footer a:hover{
    color: hsl(337, 72%, 57%);;
}
