/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --add-btn: hsl(193, 93%, 46%);
    --remove-btn: hsl(7, 92%, 52%);
    --check-btn: hsl(141, 31%, 50%);
    --uncheck-btn: hsl(231, 46%, 52%);
    --table-cell: hsl(0, 0%, 85%);
}

body{
    margin: 7rem auto;
    width: 50%;
    font-family: 'Raleway', sans-serif;
}

h1{
    font-weight: 100;
}

main{
    padding: 5rem 0;
    height: 600px;
}

form{
    display: flex;
    justify-content: space-between;
}

input[type=text]{
    height: 25px;
    width: 200px;
}

input{
    border: 1px solid rgb(133, 133, 133);
    border-radius: 3px;
    padding-left: 4px;
}

input[type=text]:hover,
input[type=checkbox]:hover,
input:focus,
input:active{
    border: 1px solid var(--add-btn);
    outline: 1px solid transparent;
}

.checkbox-label{
    margin-left: 5px;
}

.fas,
.far,
input[type=checkbox],  
.submit-book{
    cursor: pointer;
}

.submit-book{
    background-color: var(--add-btn);
    color: #fff;
    padding: 0 30px;
    border: none;
    border-radius: 50px;
}

.fa-trash-alt{
    color: var(--remove-btn);
}

.fa-times{
    color: var(--uncheck-btn);
}

.fa-check{
    color: var(--check-btn);
}

table{
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
}

td{
    text-align: center;
    border-bottom: 1px solid var(--table-cell);
}

.table-header{
    background-color: var(--table-cell);
}

.table-title{
    padding: 10px 9rem;
}

.table-author{
    padding: 10px 5rem;
}

.table-control{
    padding: 10px 2rem;
}

footer{
    text-align: center;
}

footer a{
    color: inherit;
    text-decoration: none;
    transition: all 200ms ease;
}

footer a:hover{
    color: var(--remove-btn);
}